/* 
#F0F0F0
#213555
#4F709C
#E5D283
*/


body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #213555;
    color: #F0F0F0;
    font-family: 'Georgia', serif;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #4F709C;
    z-index: 1;
}

li {
    display: inline;
}

li a {
    float: left;
    color: #E5D283;
    text-align: center;
    font-size: 30px;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #F8F8FF;
}

li a.active {
    background-color: #3d5678;
}

.zeus {
    width: 100%;
    height: 50%;
}