.mainbody {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #c7a763;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    padding: 30px 0px;
    width: 100%;
    height: 10%;
}

.navbar ul {
    list-style-type: none; 
    margin: 0 100px;
    padding: 0;
    display: flex; 
    justify-content: space-between; 
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
}

.navbar a:hover {
    font-weight: 500;
}

.navbar a.active {
    font-weight: 500;
}

.centerbox {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    position: absolute;
    top: 20%;
}

.boulder {
    width: 200px; 
    height: 200px; 
    background: radial-gradient(circle at 30% 30%, #7f8c8d, #34495e);
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
    color: white; 
    font-size: 20px; 
    bottom: 10%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.ground {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 27.2%;
    bottom: 3%;
    z-index: -1;
    transform: rotate(-35deg);
    background-color: rgb(82, 80, 75);
    border-radius: 15px;
}


/*MYTH PAGE*/

.mythbody {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #c7a763;
    font-family: 'Montserrat', sans-serif;
}

.about_myth {
    display: flex;
    flex-direction: row;
}

.box1, .box2 {
    min-height: 500px;
}

.box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.box2 {
    background-color: black;
    width: 60%;
    text-align: center;
}

#word1, #word2 {
    color: black;
    font-weight: 700;
    font-size: 5rem;
    width: min-content;
    margin: 0;
}

.box2 p {
    position: relative;
    color: white;
    font-size: 2rem;
    margin: 10% 10%;
}

.quotes_box {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 600px;
    background-color: rgb(32, 32, 32);
    align-items: center;
}

.quotes_box h1 {
    font-size: 5rem;
    color: white;
    height: fit-content;
    margin: 20px 0;
    text-align: center;
}

.quotes_box img {   
    position: absolute;
    width: 200px;
    height: auto;
    top: 35%;
}

.quotes {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 600;
    font-size: 1.2em;
}

.quotes_left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 13rem;
}

.quotes_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 13rem;
}

.quote1 {
    margin-top: 3rem;
    margin-left: 2rem;
    text-align: left;
}

.quote2 {
    margin-left: 2rem;
    text-align: left;
}

.quote3 {
    margin-top: 3rem;
    margin-right: 2rem;
    text-align: left;
}

.quote4 {
    margin-right: 2rem;
    text-align: left;
}


.images img {
    height: 300px;
    width: auto;
}

table {
    border-spacing: 1rem;
    word-wrap: break-word;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    